#setlist-artists {

	.artist-container:after {
		content: "";
		display: table;
		clear: both;
	}

	.artist {
		border: 1px solid @borderColor;
		background-color: @backgroundColor;
		width: 15%;
		margin: 1em;
		float: left;
		padding: 1em;
		min-height: 13em;
		text-align: center;
	}

	.artist:after {
		content: "";
		display: table;
		clear: both;
	}

	.artist-img {

		width: 100%;
		img {
			width: 100px;
			height: 100px;
			border: 2px solid @borderColor;
			border-radius: 50%;
		}
	}

	.info {
		margin: 1em 0 0;
		vertical-align: middle;
		text-align: center;

		span {
			margin-bottom: 1em;
		}
	}

	@media screen and (max-width: 850px) {
		.artist {
			width: 85%;
		}
	}
}