<div id="album-new">
	<h2>Insert New Album</h2>
	<br/>
	<form name="newAlbumForm" novalidate>
		<b>Artist</b><br/>
		<select ng-model="album.artist_id" ng-options="a.artist_id as a.artist_name for a in artists" ng-change="onSelectChange()">
<!-- 			<option ng-repeat="a in artists">
				{{a.artist_name}}
			</option> -->
		</select>
		<br/><br/>

		<b>Name</b><br/>
		<input type="text" ng-model="album.album_name" ng-required="true"/><br/>

		<br/>
		<b>Year</b><br/>
		<input type="text" ng-model="album.year" ng-required="true"/><br/>

		<br/>
		<b>Cover</b><br/>
		<input type="text" ng-model="album.cover_art_url" ng-required="true"/><br/>
		<br/><br/>
		<textarea type="text" ng-model="album.songs_temp" ng-required="true" ng-show="!album.songsSpliced"> </textarea>
		<br/>
		<br/>
		<div ng-repeat="s in album.songs" ng-show="songsSpliced">
			<!--<input ng-model="s.name"/> -->
			{{s.name}} <input type="checkbox"/>
		</div>
		<br/><br/>
		<input type="button" ng-click="insertAlbum()" value="Submit" />
		<!-- ng-disabled="newAlbumForm.$invalid" -->
	</form>
</div>