#setlist {
	h1 {
		font-size: 2em;
	}

	.songs {
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid @borderColor;

		li {
			padding: .5em 0;
			line-height: .5em;
		}

		.notes {
			font-size: .8em;
		}

		.stats-art-2 {
			border: 1px solid @borderColor;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			float: left;
		}

		.song-name {
			width: 60%;
			padding: 0 0 0 1em;
			float: left;
			display: table;

			p {
				
				margin: auto 0;
				line-height: 1em;
			}
		}
	}

	.songs li:after {
		content: "";
		display: table;
		clear: both;
	}

	.stats {
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid @borderColor;

		.stats-container {
			padding: 0 .5em;

			.count {
				text-align: center;
				font-weight: strong;
				margin-top: 0.5em;
				font-size: 1.2em; 
			}
		}

		.stats-art {
			border: 1px solid @borderColor;
			width: 90px;
			height:90px;
		}
	}
	
	/* Apply to all */
	ul > .encore {
		_color: #FF8766;
		border-top: 3px solid @borderColor;
		width: 50%;
	}
	/* Negate all expect first. Hacky as fuck solution */
	ul > .encore ~ .encore {
	    border-top: none;
	}

	.newsong {
		font-weight: bold;
		background-color: @backgroundColor;
	}
}

#all-setlists {

	.header {
		font-size: 1.5em;
	}
	.setlist {
		padding: .5em;
		_border: 1px solid @borderColor;
		margin: .5em;
		_background-color: @backgroundColor;

		.setlist-date-container {
			float: left;
			width: 25%;
			padding-right: 1em;

			.setlist-date {
				font-size: 1.2em;
				border-bottom: 1px solid black;
			}
			
		}
		.setlist-info {
			float: left;
			width: 70%;
		}
	}
	.setlist:after {
		 content: "";
		 display: table;
		 clear: both;
	}
}