#setlist {
	h1 {
		font-size: 2em;
	}

	.songs {
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid @borderColor;

		li {
			padding: .5em 0;
			line-height: .5em;
		}

		.notes {
			font-size: .8em;
		}
	}

	.stats {
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid @borderColor;

		.stats-container {
			padding: 0 .5em;

			.count {
				text-align: center;
				font-weight: strong;
				margin-top: 0.5em;
				font-size: 1.2em; 
			}
		}

		.stats-art {
			border: 1px solid @borderColor;
			width: 90px;
			height:90px;
		}
	}
	
	/* Apply to all */
	ul > .encore {
		color: #FF8766;
		border-top: 1px solid @borderColor;
		width: 50%;
	}
	/* Negate all expect first. Hacky as fuck solution */
	ul > .encore ~ .encore {
	    border-top: none;
	}

	.newsong {
		font-weight: bold;
	}
}

#all-setlists {

	.header {
		font-size: 1.5em;
	}
	.setlist {
		padding: .5em;
		_border: 1px solid @borderColor;
		margin: .5em;
		_background-color: @containerBgColor;

		.setlist-date {
			float: left;
			width: 30%;
			font-size: 1.2em;
			border-bottom: 1px solid black;
			
		}
		.setlist-info {
			float: left;
			width: 70%;
		}

		a {
			font-weight: bold;
			font-size: 1.2em;
		}

	}
	.setlist:after {
		 content: "";
		 display: table;
		 clear: both;
	}
}