<div id="setlist">
	<div class="header">
		<h1>{{setlist.artist_name}}</h1>
		<i>{{setlist.date | date:'fullDate'}}</i></br>
		<i>{{setlist.venue_name}}, {{setlist.city}}, {{setlist.state}}</i><br/>
	</div>

	<div class="stats">
		
			<div class="pull-left stats-container" ng-repeat="a in setlist.album_count">
				<div ng-click="albumFilter(a.name);" class="stats-art" style="background-image: url('/imgs/{{a.url}}'); background-size:90px 90px">
					
				</div>
				<div class="count">{{a.count}}</div>
			</div>
			
			<div class="clear"/>
		
	</div>

	<!--<input type="search" ng-model="q.encore" placeholder="filter friends..." />-->
	<div class="songs">
		<ul>
			<li ng-repeat="s in setlist.songs | filter:filters" ng-class="{encore: s.encore, newsong: s.new_song}">{{s.song_name}}</li>
		</ul> 
	</div>

	<a ng-click="clearFilter();">Clear flilter</a>
</div>